/*
 *  footer settings
 */

// set the defaults for all responsive levels here (desktop first)
// after that, use the media queryies to adujust the lower responsive levels

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width

  .flatmir-footer {
    background-color: white;
    border: none;
    color: $dszvGray;
    margin-top: 5rem;
    & > .container {
      margin-top: 0;
      margin-bottom: 0;
      border-top: 1px solid $dszvSilver;
    }
    a {
      color: $dszvRed;
      &:hover {
        color: $dszvRedDark;
      }
    }
  }
  .footer-menu {
    margin-bottom: .5rem;
    .nav {
      justify-content: center;
    }
  }
  .dszv-address {
    padding-top: 1rem;
  }
  .dszv-copyright {
    padding-top: 1rem;
    text-align: right;
  }

  #powered_by {
    background-color: white;
    border: none;
  }

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xl and lower
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  // lg and lower
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
  // md and lower
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  // sm and lower
}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  // xs
}
